/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
  font-family: "Sofia Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* :root {

} */

.active-link {
  background-color: blue;
  border-radius: 10px;
  color: white;
  padding: 8px 15px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration: none;
  padding: 8px 15px;
}

input {
  height: 50px;
  padding: 15px;
  background-color: #eee;
}

input:hover {
  background-color: #eeeeee00;
}

.nav-link {
  color: white !important;
}
